body{
    font-family: "Roboto", sans-serif;
    background-color:#FFFFFF;
    color:#434455;;
}

nav {
    display: flex;
        justify-content: flex-start;


}

.logo-head{
        text-transform: uppercase;
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
        color: #4d5ae5;
  
}
.studio {color: #2e2f42
;}

.navi {font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42;
}
.navi .link:hover, .navi .link:focus{
    color: #404bbf;
}

.contacts{
    font-style: normal;
}
.tel{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.tel .link:focus, .tel .link:hover {color: #404bbf;}
ul>li>a {
    text-decoration: none;
}
p, .paragraph2{
    font-weight: 400;
        font-size:16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.hero-back {
    background: #2e2f42;
}
.button-order {

        justify-content: flex-start;
    font-weight: 500;

        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: #4d5ae5;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
                cursor:pointer;
}

   

h1, .caption {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
h3, .caption3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
h2, .caption2{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}

.team-back {
    
        background: #f4f4fd;
}

ul {
    list-style-type: none;
}

.foot{
    background-color: #2e2f42;


}

.foot-par {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.studio-foot {
    color: #f4f4fd;
}

.logo-foot{
   
text-transform: uppercase;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-decoration: none;
            color: #4d5ae5;
    
        
}