/* ===========COMMON STYLES=========== */
body{
    font-family: "Roboto", sans-serif;
    background-color:#FFFFFF;
    color:#434455;;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
ol,ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left:0;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top:0;
    margin-bottom: 0;
}
img{
    display: block;
}
.section-paddings{
    padding-top: 120px;
    padding-bottom: 120px;
}



/* ===========CONTAINER=========== */
.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



/* ===========HEADER=========== */
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-header {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px
}
.head-page{
    display: flex;
    gap: 40px;
    position: relative;
    color: #404bbf;
}

.studio {color: #2e2f42;}

/* ===========NAVIGATION MENU=========== */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.menu-list{
display: flex;
gap: 40px;
}

.menu-list-link {
    font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;

display: block;
padding-top: 24px;
padding-bottom: 24px;
position: relative;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* color:#2e2f42;
color: #404bbf; */
.menu-list-link:hover{
    color: #404bbf;

}
.menu-list-link:hover,
.menu-list-link:focus {
    color: #404bbf;

}

/* 
.menu-list-link::after {

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    content: "";
    border-radius: 2px;
        height: 4px;
    margin-left: auto;
    margin-right: auto;
    background: #404bbf;
    margin-top: 20px;
} */

.current{
position: relative;
color: #404bbf;
}
.current::after{
    content: "";
    border-radius: 2px;
        height: 4px;
        background-color: #404bbf;
        width: 100%;
            position: absolute;
                left: 0;
                    bottom: -1px;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ===========NAVIGATION CONTACTS=========== */
.contacts-list{
    display: flex;
    gap: 40px;

}

.contacts-link:focus,
.contacts-link:hover {
    color: #404bbf;
}

.contacts{
    font-style: normal;
}
.contacts-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* =========== HERO SECTION 1=========== */
.hero {
    display: flex;
 justify-content: center;
     align-items: center;
    background-color: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;

    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; 
    /* 1440px 600px */
    background-clip: padding-box;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}
.main-button {
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;

}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}



/* =========== BENEFITS  SECTION 2 =========== */

.benefits-list{
    display: flex;
    gap: 24px;
    align-items: flex-start;
        justify-content: flex-start;

}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}

.benefits-icons-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 .paragraphh {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
     margin-top: 8px;



 }

  .caption-three {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
      margin-bottom: 8px;

  }



/* =========== TEAM  SECTION 3 =========== */
.team {
    
        background: #f4f4fd;
}
 .caption-two {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     text-transform: capitalize;
     margin-bottom: 72px;
     margin-top: 32px;
 }

.name-job{
    padding-bottom: 32px;
    padding-top: 32px;

}
.team-list{
    display: flex;
    gap: 24px;
        align-items: center;
        justify-content: center;
       
  
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) /4 );
border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    height: 428px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
     
}
.team-part {
    text-align: center;
}


/* social media team */

.social-list-icon {
    fill: #f4f4fd;

}
.social-list-team {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: flex-end;
    justify-content: center;
    margin-top: 8px;
}
.social-list-item-team {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 24px;

}

.social-list-link-team {
    display: flex;
    gap: 24px;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-team:hover,
.social-list-link-team:focus {
    background-color: #404bbf;
}



/* =========== PORTFOLIO =========== */

 .caption-two {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     text-transform: capitalize;
     margin-bottom: 72px;
     margin-top: 32px;
 }

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
row-gap: 48px;}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    height: 420px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%);

}
.wrapper-portfolio{
position: relative;
    overflow: hidden;
}


.portfolio-list-item:hover .par-overlay{
    transform:translateY(0%);
}


.par-overlay{
        overflow: auto;
color: #f4f4fd;
position: absolute;
top: 0;
left: 0;
font-style: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-typ {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

/* =========== FOOTER =========== */
.foot{
    background-color: #2e2f42;
    padding: 100px 0;

}
.logo-and-paragraph {
    display: block;
    align-items: baseline;

}
.foot-par {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
margin-right: 120px;
margin-top: 8px;
}

.studio-foot {
    color: #f4f4fd;
}

.logo-link-foot{
    display: inline-block;
margin-bottom: 8px;
text-transform: uppercase;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-decoration: none;
            color: #4d5ae5;
    
        
}


.footer-media-paragraph{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}


.footer-media-list{
display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

} 


.footer{
    display: flex;
    gap: 16px;
    align-items: baseline;
 
 
}

/* ===========social media footer============== */

.social-list-icon{
        fill: #f4f4fd;

    }
    
.social-list-item{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap:24px;

}

.social-list {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
    align-self: flex-end;
    justify-content: center;
}

.social-list-link{
        display: flex;
        width:100%;
        height:100%;
        background-color: #4d5ae5;
        border-radius:50%;
        justify-content: center;
        align-items: center;
        transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

        .social-list-link:hover,
                  .social-list-link:focus{
                    background-color: #31d0aa;
                  }


/* ==========BACKDROP============ */
.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 99999;
opacity: 0;
visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
opacity: 1;
    visibility: visible;
}

.modal{
border-radius: 4px;
    width: 408px;
    min-height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px ;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;

    fill:"#2E2F42";
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    line-height: 0;
    position: absolute;
padding: 72px 24px 24px 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border-radius: 50%;
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
fill: #fff;
   background-color: #404bbf;
}

.feedback-form-description{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.feedback-form-field-label{
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.feedback-form-input{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
        border-radius: 4px;
        padding-left: 38px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-input:focus{
    border-color: #4d5ae5;
    outline:none;
}

.feedback-form-field-wrapper{
    margin-bottom: 8px;
}
.feedback-form-input-wrapper {
    position: relative;
}

.feedback-form-field-icon{
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-input:focus + .feedback-form-field-icon{
    fill: #4d5ae5;
}

.feedback-form-comment{
   width: 100%;
   height: 120px;
border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.feedback-form-comment:focus{
    border-color:#4d5ae5 ;
    outline: transparent;
}

.feedback-form-comment::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.privacy-policy-text{
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.privacy-policy-link{
line-height: 1.3;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.feedback-form-checkbox-wrapper{
    margin-bottom: 24px;
}

.feedback-form-own-checkbox {
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        width: 16px;
        height: 16px;
       display: inline-flex;
       justify-content: center;
       align-items: center;
        cursor: pointer;
        fill: transparent;
}

.feedback-form-checkbox:checked + .feedback-form-checkbox-label .feedback-form-own-checkbox {
   background-color:#404bbf;
   border-color: #404bbf;
   fill:#FFFFFF;

    border: #404bbf;
}

.feedback-form-checkbox:focus+.feedback-form-checkbox-label .feedback-form-own-checkbox{
    outline:2px solid rgba(0,0,255,0.5);
}

.feedback-form-submit{
    display: block;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.feedback-form-btn-text{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

/* ФОРМА В ФУТЕРЕ SUBSCRIBE */

.subscribe-form{
    display: flex;
    align-items: center;
    gap: 24px;

}
.subscribe-form-wrapper {
        display: block;
            align-items: baseline;
            margin-left: 80px;
}

.subscribe-form-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}

.subscribe-form-input{
      
            padding-left: 16px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            border: 1px solid #FFFFFF;
                border-radius: 4px;
                width: 264px;
                height: 40px;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                background-color: transparent;
                margin-top: 16px;
                font-size: 12px;
                    line-height: 2;
                    letter-spacing: 0.04em;
                    color: #fff;
        }
        
        .subscribe-form-input:focus {
            border-color: #4d5ae5;
            outline: none;
        }

.subscribe-form-input::placeholder{
    font-weight: 400;
        color: #fff;
}

.subscribe-btn-wrapper{
display: block;
    margin-left: 24px;
}

.subscribe-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
border: none;
        min-width: 165px;
        height: 40px;
        background: #4d5ae5;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                text-align: center;
                color: #fff;
                margin-bottom: 16px;
                cursor: pointer;
}

.subscribe-btn-wrapper {
            position: relative;
        }

.subscribe-btn-icon {
    fill:#fff; 
    position: absolute;
    right: 10px;
margin-left: 16px;

    top: 50%;
}

.subscribe-btn-text{

    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        margin-bottom: 16px;
}
    