/* ===========COMMON STYLES=========== */
body{
    font-family: "Roboto", sans-serif;
    background-color:#FFFFFF;
    color:#434455;;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
ol,ul {
    list-style-type: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left:0;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top:0;
    margin-bottom: 0;
}
img{
    display: block;
}
.section-paddings{
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ===========CONTAINER=========== */
.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* ===========HEADER=========== */
.page-header{border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-header{
        text-transform: uppercase;
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
        color: #4d5ae5;
        margin-right: 76px
  
}
.head-pag{
    display: flex;
    gap: 40px;
    position: relative;
    color: #404bbf;
}

.studio {color: #2e2f42
;}
/* ===========NAVIGATION=========== */

.menu{
    display: flex;
 justify-content: space-between;
 align-items: center;
gap:40px;
}

.menu-list{
display: flex;
gap: 40px;
}
.menu-list-item-link {
    font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42;
display: block;
padding-top: 24px;
padding-bottom: 24px;
position: relative;
}

.menu-list-item-link:hover{
    color: #404bbf;

}
.menu-list-item-link:focus{color: #404bbf;}
.contacts-item:hover{
    color: #404bbf;
}
.menu-list-item-link:active:after{

            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
  
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    content: "";
    border-radius: 2px;
        height: 4px;
        margin-left: auto;
        margin-right: auto;
        background: #404bbf;
        margin-top: 20px;
}
/* ===========NAVIGATION CONTACTS=========== */
.contacts-list{
    display: flex;
    gap: 40px;

}

.contacts-item-link:focus {
        color: #404bbf;
    }

.contacts{
    font-style: normal;
}
.contacts-item-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link:focus, .contacts-item-link:hover {color: #404bbf;}


p, .paragraphh{
    font-weight: 400;
        font-size:16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
      margin-top: 8px;
 

  
}
/* =========== HERO + BUTTON =========== */
.hero {
    background-color: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;

    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; 
    /* 1440px 600px */
    background-clip: padding-box;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}
.button-order {
    display: block;
    font-weight: 500;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
                cursor:pointer;
                border-radius: 4px;
                    padding: 16px 32px;
                    min-width: 169px;
                    height: 56px;
                    border:none ;
                    padding-top:16px;
                    padding-bottom: 16px; 
                    padding-left: 32px;
                    padding-right: 32px;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                        background-color: #4d5ae5;
                        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    

}
.button-order:hover,
.button-order:focus {
     background-color:#404BBF;
 }
/* ===========BENEFITS=========== */
.benefits-list{
    display: flex;
    gap: 24px;
    align-items: flex-start;
        justify-content: flex-start;

}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}

.benefits-icons-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
}


.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ===========CAPTIONS=========== */


h2, .captionn{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        margin-top: 32px;
}
h3,
.captionnn {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

/* ===========TEAM=========== */
.team {
    
        background: #f4f4fd;
}

.name-job{
    padding-bottom: 32px;
    padding-top: 32px;

}
.team-list{
    display: flex;
    gap: 24px;
        align-items: center;
        justify-content: center;
       
  
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) /4 );
border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    height: 380px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
     
}
.team-part {
    text-align: center;
}
/* =========== PORTFOLIO =========== */
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
row-gap: 48px;}


.wrapper-portfolio{
position: relative;
    overflow: hidden;
}
.portfolio-list-item{
width: calc((100% - 48px) / 3);
    height: 420px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
transform: translateY(0%);

}

/* .portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;

    transform:translateY(100%) ;
transition: transform 250ms 
   cubic-bezier(0.4, 0, 0.2, 1) ;
} */



.portfolio-list-item:hover .wrapper-portfolio{
    transform: translateY(0%)
}
.par-over{
        overflow: auto;
color: #f4f4fd;
margin-top: 40px;
margin-left: 32px;
margin-right: 32px;
position: absolute;
top: 0;
font-style: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-typ {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

/* =========== FOOTER =========== */
.foot{
    background-color: #2e2f42;
    padding: 100px 0;

}

.foot-par {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

.studio-foot {
    color: #f4f4fd;
}

.logo-link-foot{
    display: inline-block;
    margin-bottom: 16px;
text-transform: uppercase;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-decoration: none;
            color: #4d5ae5;
    
        
}

.footer-media-title{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-media-list{
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
} 


.footer{
    display: flex;
    gap: 16px;
    align-items: baseline;
 
}
.par-logo{
margin-right: 120px;
}
/* ===========SOCIAL MEDIA ICONS============== */

.social-list-icon{
        fill: #f4f4fd;

    }
    
.social-list-item{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.social-list{
    display: flex;
        gap: 16px;
        flex-shrink: 0;
        align-self: flex-end;
        justify-content: center;
}
.social-list-link{
        display: flex;
        width:100%;
        height:100%;
        background-color: #4d5ae5;
        border-radius:50%;
        justify-content: center;
        align-items: center;
    }

        .social-list-link:hover,
                  .social-list-link:focus{
                    background-color: #31d0aa;
                  }

.social-list-link-team:hover,
.social-list-link-team:focus
{
    background-color: #404bbf;
}

.social-list-link-team {
    display: flex;
    gap: 24px;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
